
__pycache__/BinaryFile.cpython-37.pyc

__pycache__/Metadata.cpython-37.pyc

__pycache__/Plugin.cpython-37.pyc

__pycache__/PointOfInterest.cpython-37.pyc

__pycache__/Project.cpython-37.pyc

__pycache__/Script.cpython-37.pyc

.idea/misc.xml

.idea/Software-Project-Team9.iml

.idea/vcs.xml
